body {font-family: roboto, sans-serif;}

/* COLORS */
:root {
    --main-black-color: #000000;
    --secondary-black-color: #212121;
    --main-text-color: #757575;
    --main-blue-color: #2196F3;
    --main-white-color: #FFFFFF;
    --transparent-white-color: #FFFFFF99;
    --main-background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
    --third-background-color: #E5E5E5;
    --header-bottom-border-color: #ECECEC;
    --portfolio-item-border-color: #EEEEEE;
}
/* RESET */
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* CONTAINER */
.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0px auto;
}
/* HEADER POS */
.header {
    border-bottom: solid 1px var(--header-bottom-border-color);
}
.header-container {
    display: flex;
    align-items: center;
}
/* LOGO */
.header-logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-blue-color);
}
.footer-logo-link {
    margin-right: 93px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-blue-color);
}
.r-logo-header {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-black-color); 
}
.logo-footer {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-white-color); 
}
/* NAV */
.nav {
    display: flex;
    align-items: center;
}
.nav-list {
    display: flex;
}
.nav-item:not(:last-child) {
    margin-right: 50px;
}
.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-black-color);
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: var(--main-blue-color);
}
.nav-link-current {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-blue-color);
}
.contacts-list {
    display: flex;
    margin-left: 331px;
}
.contacts-item:not(:last-child) {
    margin-right: 50px;
}
.contacts-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
    color: var(--main-blue-color);
}
/* HERO */
.hero-section {
    background-color: var(--main-background-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-section-title {
    max-width: 696px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-white-color);
}
.hero-section-btn {
    display: block;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-blue-color);
    border: none;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-white-color);
    cursor: pointer;
}
.hero-section-btn:hover,
.hero-section-btn:active,
.hero-section-btn:focus {
    background-color: var(--main-white-color);
    color: var(--main-blue-color);
}
/* FEATURES SECTION */
.features-section {
    margin-left: auto;
    margin-right: auto;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
}
.features-item {
    width: 270px;
    height: auto;
    margin-right: 30px;
}
.features-item:nth-child(4n) {
    margin: 0px;
}
.features-subtitle {
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-black-color);
}
.features-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    }
/* OUR WORK SECTION */
.our-work-section {
    padding-top: 0px;
}
.our-work-title {
    margin-bottom: 50px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-black-color);
}
.our-work-list {
    display: flex;
    flex-wrap: wrap;
}
.our-work-item {
    margin-right: 30px;
}
.our-work-item:nth-child(3n) {
    margin-right: 0px;
}
/* OUR TEAM SECTION */
.our-team-section {
    background-color: var(--secondary-background-color);
}
.our-team-title {
    margin-bottom: 50px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-black-color);
}
.our-team-list {
    display: flex;
    flex-wrap: wrap;
}
.our-team-member {
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-black-color);
}
.our-team-item {
    margin-right: 30px;
    background-color: var(--main-white-color);
}
.our-team-item:nth-child(4n) {
    margin-right: 0px;
}
.team-mate-info {
    padding-top: 30px;
    padding-bottom: 30px;
}
.our-team-position {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
/* FOOTER SECTION */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--main-background-color);
}
.footer-logo-link {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
}
.footer-contacts-item-adress {
    margin-bottom: 9px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-white-color);
}
.footer-contacts-item:not(:last-child) {
    margin-bottom: 9px;
}
.contacts-link-footer {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--transparent-white-color);
}
.contacts-link-footer:hover,
.contacts-link-footer:focus,
.contacts-link-footer:active {
    color: var(--main-blue-color)
}

/* ---------------------PORTFOLIO PAGE--------------------- */
/* PROJECTS-LIST */
.projects-filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
}
.projects-filter-item:not(:last-child) {
    margin-right: 8px;
}
.filter-btn {
    padding: 6px 22px 6px 22px;
    border: none;
    border-radius: 4px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-black-color);
    cursor: pointer;
}
.filter-btn.current {
    background-color: var(--main-blue-color);
    color: var(--main-white-color);
}
.filter-btn:focus,
.filter-btn:hover,
.filter-btn:active {
    background-color: var(--main-blue-color);
    color: var(--main-white-color);
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
}
.projects-item {
    margin-right: 30px;
    margin-bottom: 30px;
}
.projects-item:nth-child(3n) {
    margin-right: 0px;
}
.projects-text-container {
    padding: 20px 24px;
    border-right: solid 1px var(--portfolio-item-border-color);
    border-left: solid 1px var(--portfolio-item-border-color);
    border-bottom: solid 1px var(--portfolio-item-border-color);
}
.projects-subtitle {
    padding-top: 4px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--secondary-black-color);
    
}
.projects-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    border-right: solid 1px var(--portfolio-item-border-color);
    border-left: solid 1px var(--portfolio-item-border-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
